<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.uktraq.net.nz/thymeleaf/layout">
<head>
<title>Casos</title>
 	  <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<header>
 <nav>
    <div class="nav-wrapper black">
      <a href="#" class="brand-logo right">Pericia Criminal</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="/cadastrarCaso">Registrar Novo Caso</a></li>
        <li><a href="/listarcasos">Lista de Casos</a></li>
        <li><a href="/Casoresolvidos">Casos Resolvidos</a></li>
        <li><a href="/sair">Sair</a></li>
        
      </ul>
    </div>
  </nav>
  <head>
  <style type="text/css">
body{
  background:url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQ7XBI85su9BQ30mVDkdqWWxqeve5_wtGtNBOxOam7Hf_ondltL") center;
}
</style>
</head>

<br> <br> <br>

 <div class="row">
    <div class="col s4">
      <div class="card">
        <div class="card-image">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRk2wVsqjezyJ4ruwKgIXDYzOwVVLdOID1aqiRlD99oSbIxHUqk" alt="" style="height:220px;">
          <span class="card-title">Distintivo</span>
        </div>
        <div class="card-content">
          <p>Acessorio que e apresentado ou exibido para indicar alguma realizacao notavel em servico; e simbolo de autoridade concedido atraves de um juramento; uma indicacao de exercicio legitimo de cargo ou de status estudantil ou como simples meio de identificacao,portanto, jamais esqueca de levar o seu para as cenas de crime.</p>
        </div>
      </div>
    </div>
  
  
  
    <div class="col s4">
      <div class="card">
        <div class="card-image">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSeztRdW6mpHH5jVVnl69Uo83dBE_JAIjkUQmCaExAwfO3SjpQl" alt="" style="height:220px;"/>
          <span class="card-title">Materiais</span>
        </div>
        <div class="card-content">
          <p>O perito e sua maleta sao inseparaveis. Ela instrumentaliza os conhecimentos do profissional da area no momento em que ele se dedica a analisar a cena do crime.</p>
        </div>
      </div>
    </div>
 
 
    <div class="col s4">
      <div class="card">
        <div class="card-image">
          <img src= "https://st3.depositphotos.com/17442892/19544/i/1600/depositphotos_195448094-stock-photo-crime-scene-street-white-shape.jpg" alt="" style="height:220px;"/>
          <span class="card-title">Cena/local</span>
        </div>
        <div class="card-content">
          <p>Local mediato (local adjacente ao que ocorreu o fato, podendo haver la vestigios do delito) ou local relacionado (locais que se vinculam de alguma forma ao crime).Em relacao a conservacao do local, pode ser classificado como idoneo e inidoneo. Sendo o idoneo aquele que nao sofreu alteracao apos o crime e inidoneo aquele que foi alterado.</p>
        </div>
      </div>
    </div>
  </div>
  
  </header>

 </body> 
 </body>
  </html>